@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Oswald:wght@200..700&display=swap");

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0 scroll-smooth;
  font-family:
    "Funnel Display",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* Your heading selectors */
  font-family: "Oswald", sans-serif; /* Heading font */
}

:root {
  --background: oklch(
    0.9603013679011295 0.029703798878112968 216.66002342889323
  );
  --foreground: oklch(
    0.0061924247977034885 0.0011027916331936083 216.66002342889323
  );
  --card: oklch(0.9758529260951705 0.017951986672901855 216.66002342889323);
  --card-foreground: oklch(
    0.381829314458302 0.06804539306200205 216.66002342889323
  );
  --popover: oklch(0.9850094660707825 0.011103659119502934 216.66002342889323);
  --popover-foreground: oklch(
    0.09165373869108212 0.01629511072207912 216.66002342889323
  );
  --muted: oklch(0.9759716623931298 0.01787796284282365 216.66002342889323);
  --muted-foreground: oklch(
    0.6450247021057907 0.07885778614572213 216.66002342889323
  );
  --primary: oklch(0.6917106982092157 0.10869439044978631 66.66002342889328);
  --primary-foreground: oklch(0.999999993473546 0 none);
  --secondary: oklch(0.7435206306269228 0.04762062255645677 176.88706185413628);
  --secondary-foreground: oklch(0.999999993473546 0 none);
  --accent: oklch(0.8486887934953322 0.031498469540848534 306.6600234288933);
  --accent-foreground: oklch(
    0.14630997081672525 0.07530770851737352 306.6600234288933
  );
  --destructive: oklch(
    0.5702147440725915 0.23228375807387702 26.903135645108733
  );
  --destructive-foreground: oklch(0.999999993473546 0 none);
  --border: oklch(0.9659278683524626 0.025431629278514424 216.66002342889323);
  --input: oklch(0.059913395850666795 0.011092342631131225 176.88706185413628);
  --ring: oklch(0.45061368906598287 0.08566837651824738 66.66002342889328);
  --sidebar-background: oklch(
    0.9673691814247992 0.0243539616093911 216.66002342889323
  );
  --sidebar-foreground: oklch(
    0.490205866244664 0.0873604501966386 216.66002342889323
  );
  --sidebar-primary: oklch(
    0.12034258983849966 0.026625577335762853 66.66002342889328
  );
  --sidebar-primary-foreground: oklch(
    0.620591633103771 0.048310818936173394 66.66002342889328
  );
  --sidebar-accent: oklch(
    0.44843842072814366 0.23084104866750293 306.6600234288933
  );
  --sidebar-accent-foreground: oklch(
    0.8643753441715173 0.08521363896677787 306.6600234288933
  );
  --sidebar-border: oklch(
    0.8715422635645298 0.09912756970405864 216.66002342889323
  );
  --sidebar-ring: oklch(
    0.39382983632066604 0.02165890268051114 66.66002342889328
  );
  --chart-1: oklch(0.5586920619336023 0.13383504564539414 156.66002342889328);
  --chart-2: oklch(0.48009510228371344 0.10634420274537366 66.66002342889328);
  --chart-3: oklch(0.6692746080870468 0.16032607102162238 156.66002342889328);
  --chart-4: oklch(0.34933953935744844 0.05939477054204678 201.66002342889328);
  --chart-5: oklch(0.6426522953451096 0.14234612710083566 66.66002342889351);
  --radius: 1rem;
}
.dark {
  --background: oklch(
    0.3334566758973087 0.05941966121436688 216.66002342889323
  );
  --foreground: oklch(
    0.8489126890821002 0.10438120427567169 216.66002342889323
  );
  --card: oklch(0.1603799359322479 0.016396618597900363 216.66002342889323);
  --card-foreground: oklch(
    0.9952211430043257 0.003497780184490139 216.66002342889323
  );
  --popover: oklch(
    0.029291071828447104 0.005214280836089281 216.66002342889323
  );
  --popover-foreground: oklch(
    0.6432901789762407 0.03285866805189808 216.66002342889323
  );
  --muted: oklch(0.1403224144239748 0.008606722719592024 216.66002342889323);
  --muted-foreground: oklch(
    0.5147013348569106 0.052949087568298706 216.66002342889323
  );
  --primary: oklch(0.5060651783349945 0.01740233406438228 66.66002342889328);
  --primary-foreground: oklch(
    0.9808081821019485 0.012968065237371994 66.66002342889328
  );
  --secondary: oklch(
    0.49775118312542016 0.06311578451463978 176.88706185413628
  );
  --secondary-foreground: oklch(
    0.9748070340977983 0.0348871798608035 176.88706185413628
  );
  --accent: oklch(0.24143180261434816 0.022580995944604432 306.6600234288933);
  --accent-foreground: oklch(
    0.6770921116757572 0.05510607847232237 306.6600234288933
  );
  --destructive: oklch(
    0.4099922040802227 0.16701946770853524 26.903135645108733
  );
  --destructive-foreground: oklch(
    0.8309546796693712 0.09380186756106394 26.903135645108733
  );
  --border: oklch(0.39905139189154304 0.07110301793737989 216.66002342889323);
  --input: oklch(0.8531602353780344 0.1583412947664241 176.88706185413628);
  --ring: oklch(0.31541583747838353 0.06984805295262633 66.66002342889328);
  --sidebar-background: oklch(
    0.23105789535783403 0.02967540753990083 216.66002342889323
  );
  --sidebar-foreground: oklch(
    0.8963219317796121 0.05409401781582504 216.66002342889323
  );
  --sidebar-primary: oklch(
    0.2201803532128912 0.04877007393115354 66.66002342889328
  );
  --sidebar-primary-foreground: oklch(
    0.7293551209397592 0.16155120808289472 66.66002342889328
  );
  --sidebar-accent: oklch(
    0.26706662356300404 0.1374820156496962 306.6600234288933
  );
  --sidebar-accent-foreground: oklch(
    0.8729221295080789 0.011515813792351271 306.6600234288933
  );
  --sidebar-border: oklch(
    0.3115067444130366 0.05552711224432588 216.66002342889323
  );
  --sidebar-ring: oklch(
    0.06927288085144101 0.015339444014351875 66.66002342889328
  );
  --chart-1: oklch(0.13940640215093236 0.033378362919345206 156.66002342889328);
  --chart-2: oklch(0.9333725987957443 0.046444917194341365 66.66002342889328);
  --chart-3: oklch(0.7011882027394024 0.1679601683173656 156.66002342889328);
  --chart-4: oklch(
    0.0038588778104460264 0.0006485595476062281 201.66002342889328
  );
  --chart-5: oklch(0.5071128927389603 0.019071905988615214 66.66002342889351);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% auto;
  animation: gradient 8s linear infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}
