@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Oswald:wght@200..700&display=swap");

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  font-family:
    "Funnel Display",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* Your heading selectors */
  font-family: "Oswald", sans-serif; /* Heading font */
}

:root {
  --background: oklch(
    0.9631651750954601 0.02280759667232696 308.62084785252995
  );
  --foreground: oklch(
    0.25315870577932903 0.055310862007157666 68.62084785252995
  );
  --card: oklch(0.9195866945934673 0.044800257159486545 236.62084785253);
  --card-foreground: oklch(
    0.19893686750737172 0.04317820135614054 236.62084785253
  );
  --popover: oklch(0.960865395692549 0.024244182748433957 308.62084785252995);
  --popover-foreground: oklch(
    0.3203296422402974 0.16318824899304152 308.62084785252995
  );
  --muted: oklch(0.8259685487320985 0.07642756821418754 308.62084785252995);
  --muted-foreground: oklch(
    0.5739472389076743 0.04510887612303428 68.62084785252995
  );
  --primary: oklch(0.1482533053873747 0.07551901989566556 308.62084785252995);
  --primary-foreground: oklch(
    0.7246397253655664 0.18928654292520905 308.62084785252995
  );
  --secondary: oklch(0.4437794396110659 0.22607561162351236 308.62084785252995);
  --secondary-foreground: oklch(
    0.8582387167607959 0.09193684777351735 308.62084785252995
  );
  --accent: oklch(0.7472085592317625 0.053983674567834816 128.62084785252995);
  --accent-foreground: oklch(0.999999993473546 0 none);
  --destructive: oklch(
    0.4901005994164735 0.09378988463199187 29.772260692192283
  );
  --destructive-foreground: oklch(
    0.9448255649589481 0.027722540795470506 29.772260692192283
  );
  --border: oklch(0.8990541634192423 0.051363783203213484 248.62084785253);
  --input: oklch(0.7480741423382112 0.01885608968487027 308.62084785252995);
  --ring: oklch(0.003451779961722412 0.0020721582679055716 278.62084785253);
  --sidebar-background: oklch(
    0.9870172426315237 0.00794088039397239 308.62084785252995
  );
  --sidebar-foreground: oklch(
    0.16848287019350805 0.036810573764186144 68.62084785252995
  );
  --sidebar-primary: oklch(
    0.18096229054156532 0.09218777325029129 308.62084785252995
  );
  --sidebar-primary-foreground: oklch(
    0.6367980412509013 0.04802020026050111 308.62084785252995
  );
  --sidebar-accent: oklch(
    0.8105354406895134 0.21376294563306406 128.62084785252995
  );
  --sidebar-accent-foreground: oklch(
    0.3863135293913401 0.10189081692344275 128.62084785252995
  );
  --sidebar-border: oklch(
    0.7745662430120349 0.021717448800966023 248.62084785253
  );
  --sidebar-ring: oklch(0.8610880242199609 0.06910484691671462 278.62084785253);
  --chart-1: oklch(0.39015808484234393 0.19873924272765323 308.62084785252995);
  --chart-2: oklch(0.4393250714765846 0.09769255151064567 128.62084785252995);
  --chart-3: oklch(0.5655449706057373 0.22922041604726262 308.62084785252995);
  --chart-4: oklch(0.06706518848968812 0.005716102885965402 308.62084785252995);
  --chart-5: oklch(0.5533861027706823 0.11252595982356373 38.62084785252995);
  --radius: 0.5rem;
}
.dark {
  --background: oklch(0.2937852987602427 0.0398607629327277 308.62084785252995);
  --foreground: oklch(
    0.9942262503924331 0.003984590947039185 68.62084785252995
  );
  --card: oklch(0.14926455249086734 0.030357929608490125 236.62084785253);
  --card-foreground: oklch(
    0.7288922715145525 0.1582350978102261 236.62084785253
  );
  --popover: oklch(0.2594107819708745 0.039816971900300716 308.62084785252995);
  --popover-foreground: oklch(
    0.8552941984277695 0.09395842667352347 308.62084785252995
  );
  --muted: oklch(0.20905473228223995 0.027987583316290726 308.62084785252995);
  --muted-foreground: oklch(
    0.5421735297916354 0.058377890147192094 68.62084785252995
  );
  --primary: oklch(0.6609316791706717 0.07848503209564056 308.62084785252995);
  --primary-foreground: oklch(0.999999993473546 0 none);
  --secondary: oklch(0.6519241027747694 0.05539703332346262 308.62084785252995);
  --secondary-foreground: oklch(0.999999993473546 0 none);
  --accent: oklch(0.7149513816879901 0.008362298816374958 128.62084785252995);
  --accent-foreground: oklch(0.999999993473546 0 none);
  --destructive: oklch(
    0.7972638882257266 0.11676385058669583 29.772260692192283
  );
  --destructive-foreground: oklch(0.999999993473546 0 none);
  --border: oklch(0.9253011722626269 0.03761546632991944 248.62084785253);
  --input: oklch(0.8893007960637263 0.07081728734205638 308.62084785252995);
  --ring: oklch(0.7741157669255755 0.1164268093086264 278.62084785253);
  --sidebar-background: oklch(
    0.216402885979882 0.045204287540565546 308.62084785252995
  );
  --sidebar-foreground: oklch(
    0.6623737372892199 0.1441851697196721 68.62084785252995
  );
  --sidebar-primary: oklch(
    0.08495954682362605 0.043264563551809465 308.62084785252995
  );
  --sidebar-primary-foreground: oklch(
    0.6252885902139641 0.11857129410709483 308.62084785252995
  );
  --sidebar-accent: oklch(
    0.8345001582934626 0.20480809394253288 128.62084785252995
  );
  --sidebar-accent-foreground: oklch(
    0.41184952623695364 0.006030423117022865 128.62084785252995
  );
  --sidebar-border: oklch(
    0.12497232796266422 0.03413977936265804 248.62084785253
  );
  --sidebar-ring: oklch(0.7857630963493079 0.10992525809205828 278.62084785253);
  --chart-1: oklch(0.01138932341110599 0.005766053553866531 308.62084785252995);
  --chart-2: oklch(0.9240119015400214 0.20530742945656733 128.62084785252995);
  --chart-3: oklch(0.22198626652410391 0.11307670361347519 308.62084785252995);
  --chart-4: oklch(0.7536003070388286 0.16723789815211149 308.62084785252995);
  --chart-5: oklch(0.22214265094423424 0.07174160543501797 38.62084785252995);
  --radius: 0.5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% auto;
  animation: gradient 8s linear infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}
